.authorization {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.7)), url(../../../server/images/registration.jpg);
	background-position: 100% 100%;
	background-size: 100%;
    height: 100vh;
}

.authorization-box {
    margin-top: 100px;
    padding: 60px 100px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #351431;
    margin-bottom: 30px;
}

.email {
    margin-bottom: 12px;
    width: 320px;
    border-radius: 10px;
}

.password {
    margin-bottom: 30px;
    border-radius: 10px;
}

.password:focus, .email:focus {
	box-shadow: 0px 0px 2px 1px #FA8334 !important;
    border: #FA8334;
}

.buttonEnter {
    background-color: #FA8334; 
    border: none;
    border-radius: 10px;
    width: 320px;
    height: 38px;
}

.registry {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
}

.registry-link {
    color: #351431;
    margin-left: 6px;
    text-decoration: none;
}

.registry-link:hover {
    color: #FA8334;
}

.buttonEnter:hover, .buttonEnter:focus {
    background: white;
	color: #FA8334;
	box-shadow: none !important;
    border: solid 2px #FA8334;
}