.event-wrapper {
	height: 360px;
	box-shadow: 6px 6px 25px 0px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	background-size: cover;
	background-position: center;
}

.event {
	display: grid;
	grid-template-rows:auto 1fr auto;
	padding: 0 42px;
	border-radius: 20px;
	background: linear-gradient(rgba(0,0,0,0.67), rgba(0,0,0,0.67));
	height: inherit;
	width: inherit;
}

.header-of-event {
	align-self: start;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.header-of-event .favourite{
    margin-top: 24px;
	justify-self: end;
	height: fit-content;
}

.event-wrapper p {
	font-family: 'Nunito', sans-serif;
	font-size: 23px;
	color: white;
	font-weight: bold;
	margin: 0;
	align-self: start;
}

.header-of-event p {
	font-family: 'Nunito', sans-serif;
	font-size: 14px;
	font-weight: normal;
	letter-spacing: -2%;
	color: white;
	margin: 0;
	padding: 18px 18px;
	background-color: rgba(53, 20, 49, 0.8);
	border-radius: 0 0 16px 16px;
	width: 200px;
	white-space: pre-wrap;
	text-align: center;
}

.bottom-of-event {
	display: flex;
	margin-bottom: 26px;
	justify-content: space-between;
	align-self: flex-end;
}

.bottom-of-event p {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	letter-spacing: -2%;
	color: white;
	margin: 0;
	background-color: rgba(119, 82, 83, 0.5);
	border-radius: 16px;
}

.bottom-of-event .tag {
	align-self: end;
	font-size: 16px;
	padding: 4px 16px;
}

.bottom-of-event .price {
	font-size: 16px;
	padding: 10px;
	text-align: center;
}