@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');

.header {
	font-weight: normal;
	display: grid;
	justify-content: end;
	grid-template-columns: auto auto auto 100px;
	align-items: center;
	grid-gap: 10px;
	background-color: #351431;
    height: 80px;
}

.exit {
	margin-right: 740px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #FA8334;
	border-radius: 10px;
	padding: 6px;
	padding-right: 10px;
	color: #FA8334;
	gap: 4px;
	background: inherit;
}

.favourite, .account {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 10px;
	padding: 8px;
	color: #FA8334;
	background: rgba(250, 131, 52, 0.5)
}

.title {
	font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 26px;
}

.title:hover {
	color: #FA8334;
}

.title:focus {
	color: white;
}
svg {
	fill: currentColor;
	align-self: center;
	height: 24px;
    width: 24px;
}

.exit:hover {
	background: inherit;
	color: white;
	border: solid 2px white;
	box-shadow: none !important;
}

.favourite:hover, .account:hover {
	background: #FA8334;
	color: white;
	box-shadow: none !important;
}

.account:focus, .favourite:focus, .exit:focus {
	background:  rgba(250, 131, 52, 0.5);
	color: #FA8334;
	box-shadow: none !important;
}